<settings>

<servers>
  <server>
    <id>nextwork-domain-nextwork-packages</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>nextwork-domain-nextwork-packages</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextwork-domain-nextwork-packages</id>
        <url>https://nextwork-domain-715841364973.d.codeartifact.us-east-1.amazonaws.com/maven/nextwork-packages/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>nextwork-domain-nextwork-packages</id>
    <name>nextwork-domain-nextwork-packages</name>
    <url>https://nextwork-domain-715841364973.d.codeartifact.us-east-1.amazonaws.com/maven/nextwork-packages/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
